<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>

  <body>

    <section class="page-header">
      <h1 class="project-name">The TinyML Guide</h1>
      <h2 class="project-tagline"></h2>
      {% for page in site.pages %}
        <a href= {{ page.filename }} class="btn">{{ page.title }}</a>
      {% endfor %}
      <a href="https://github.com/phuston/patrickandfrantonarethebestninjas" class="btn">View on GitHub</a>
      <a href="https://github.com/phuston/patrickandfrantonarethebestninjas/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/phuston/patrickandfrantonarethebestninjas/tarball/master" class="btn">Download .tar.gz</a>
    </section>


   <!-- 
<section class="page-header">
  <h1 class="project-name">The TinyML Guide</h1>
  <h2 class="project-tagline"></h2>

  {% for page in site.pages %}
  <div class="area"> </div> <nav class="main-menu">
  <ul>
    <li>
      <a>  href= {{ page.filename }} 
        <span class="nav-text">
          {{ page.title }}
        </span>
        </a>  
    </li>
        </ul>
      </nav>

{% endfor %}
<a href="https://github.com/phuston/patrickandfrantonarethebestninjas" class="btn">View on GitHub</a>
<a href="https://github.com/phuston/patrickandfrantonarethebestninjas/zipball/master" class="btn">Download .zip</a>
<a href="https://github.com/phuston/patrickandfrantonarethebestninjas/tarball/master" class="btn">Download .tar.gz</a>
</section>
-->



<div class="area"></div><nav class="main-menu">
  <ul>
      <li>
          <a href="1">
              <i class="fa fa-home fa-2x"></i>
              <span class="nav-text">
                  Dashboard
              </span>
          </a>
        
      </li>
      <li class="has-subnav">
          <a href="#">
              <i class="fa fa-laptop fa-2x"></i>
              <span class="nav-text">
                  Stars Components
              </span>
          </a>
          
      </li>
      <li class="has-subnav">
          <a href="#">
             <i class="fa fa-list fa-2x"></i>
              <span class="nav-text">
                  Forms
              </span>
          </a>
          
      </li>
      <li class="has-subnav">
          <a href="#">
             <i class="fa fa-folder-open fa-2x"></i>
              <span class="nav-text">
                  Pages
              </span>
          </a>
         
      </li>
      <li>
          <a href="#">
              <i class="fa fa-bar-chart-o fa-2x"></i>
              <span class="nav-text">
                  Graphs and Statistics
              </span>
          </a>
      </li>
      <li>
          <a href="#">
              <i class="fa fa-font fa-2x"></i>
              <span class="nav-text">
                 Quotes
              </span>
          </a>
      </li>
      <li>
         <a href="#">
             <i class="fa fa-table fa-2x"></i>
              <span class="nav-text">
                  Tables
              </span>
          </a>
      </li>
      <li>
         <a href="#">
              <i class="fa fa-map-marker fa-2x"></i>
              <span class="nav-text">
                  Maps
              </span>
          </a>
      </li>
      <li>
          <a href="#">
             <i class="fa fa-info fa-2x"></i>
              <span class="nav-text">
                  Documentation
              </span>
          </a>
      </li>
  </ul>

  <ul class="logout">
      <li>
         <a href="#">
               <i class="fa fa-power-off fa-2x"></i>
              <span class="nav-text">
                  Logout
              </span>
          </a>
      </li>  
  </ul>
</nav>
</body>

</html>
